.newslist {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
  
.newslist li {
    display: flex;
}
  
.newslist a {
    flex: 1;
    color: black;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
}
  
.newslist a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
}
  
.newslist a:active {
    background-color: #525252;
    color: #fafafa;
}
  
.newslist a.selected {
    background-color: black;
    color: white;
}
  
.newslist a.selected:hover {
    background-color: #505050;
    color: white;
}
  
.newslist a.selected:active {
    background-color: black;
    color: white;
}
  
.newslist .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
  
.newslist .title {
    align-self: center;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
